module {{.PackageName}}

go 1.24

require (
	github.com/gin-gonic/gin v1.10.1
	github.com/spf13/cobra v1.10.1
	github.com/spf13/viper v1.20.1
	github.com/wonli/aqi v1.4.0
	golang.org/x/text v0.28.0
	gorm.io/gen v0.3.27
	gorm.io/gorm v1.30.2
	gorm.io/plugin/dbresolver v1.6.0
)
