package cmd

import (
	"github.com/gin-gonic/gin"
	"github.com/spf13/cobra"
	"github.com/wonli/aqi"

	"{{.PackageName}}/internal/dbc"
	"{{.PackageName}}/internal/router"
)

func init() {
	rootCmd.AddCommand(api)
}

var api = &cobra.Command{
	Use:   "api",
	Short: "启动API",
	Run: func(cmd *cobra.Command, args []string) {
		app := aqi.Init(
			aqi.ConfigFile(configFile),
			aqi.HttpServer("Api", "port"),
		)

		dbc.InitDBC()

		g := gin.Default()

		go router.Api(g)
		go router.Actions(app)

		app.WithHttpServer(g)
		app.Start()
	},
}
